.page2 {
    /*background: #183d28;*/
    color: #fff;
    background: #703d23;
    display: flex;
}
.contact-info {
    width: 100%;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 5px;
    margin: 10px 0;
}
.map-info {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    justify-items: center;
    color: #000;
}
.map-info img {
    height: 50px;
}
.map-info p{
    font-size: 0.9em;
}
.map-info h3{
    margin: 0;
}
footer.footer {
    color: #fff;
    display: flex;
    width: 100%;
    padding: 40px 0;
    background: #7d242b;
    padding-bottom: 0;
    

}
footer.footer * {
    color: #fff;
}
.info-item a {
    color:#d8d8d8 !important;
}
.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /*justify-items: center;*/
    justify-content: space-evenly;
}
.footer .page-container{
    min-height: 150px;
}
.footer-menu-items {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1em;

}
.footer-menu-items a:hover{
    opacity: 0.5;
}
.footer li{
    list-style: none;
}
.footer-social ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    padding: 0;
    gap: 10px;
    justify-content: start;
}
.footer i{
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s;
}
.fa-facebook-f:hover{
    
    color: #1877f2;

}
.fa-twitter:hover{
    
    color: #1d9bf0;

}
.footer h4{
    margin: 0;
 }
 .logo-footer {
  /*  padding-right: 16px;
    transform: translateX(-20px);*/
}
.map {
    margin-bottom: 50px;
}