:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  /*--font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);*/
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

/*
overflow: hidden;
.lateralHeader {
  width: 60px;
  background: #824416;
  height: 100vh;
  position: fixed;
}
.layoutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.cildrenContainer {
  width: calc(100% - 60px);
  position: relative;
  margin-left: auto;
  height: 100vh;
  overflow-y: scroll;
  background: blue;
}*/
.menu {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-items: center;
  align-items: center;
  background-color: #7d242b;
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  gap: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu ul li a:hover {
  /*  background-color: white;*/
  color: #efefef;
}
.logo {
  align-self: center;
  justify-self: center;
}
.menu-items {
  align-self: center;
  justify-self: center;
}
.hero-bg {
  width: 100%;
  height: 50vh;
  background: url("../images/hero.jpeg");
  background-position: left 38%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-bg::before{
  content: 'Sindicato Nacional de Trabajadores de la Secretaría de Salud';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #373737;
  color: #fff;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  display: flex;
  font-size: 3em;
  text-transform: uppercase;
}
